.editing-news {
  margin: 160px auto 100px;

  @include phoneScreen {
    margin: 130px auto 50px;
  } 

  label {
    input {
      display: none;
      opacity: 0;
    }
  }
  
  &__add-box {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 0 30px 0;
  }

  &__add {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 230px;
    background-color: #009247;
    cursor: pointer;
  }

  &__content-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__img-box {
    width: 40%;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #21212189;
    position: relative;

    @include tabletScreen {
      width: 50%;
    }

    @media (max-width: 1200px) {
      width: 100%;
      height: 450px;
      margin: 0 0 50px 0;

      img {
        object-fit: cover;

        @media (max-width: 600px) {
          object-fit: contain;
        }
      }
    }

    @media (max-width: 600px) {
      height: max-content;
      margin-bottom: 20px;
    }
  }

  .editing__news-icons {
    position: absolute;
    bottom: 10px;
    left: 5px;  
    display: flex;
    align-items: baseline;

    .pen__icon,
    .removed {
      background-color: color(white);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      margin-left: 12px;
      cursor: pointer; 
      transition: all 0.3s;
    }

    svg {
      width: 18px;
      height: 18px;
      transition: all 0.3s;
    }
  }
  

  .pen__icon {
    &:hover {
      background-color: color(green);
      path {
        fill: #fff;
      }
    }
  }

  .removed {

    &:hover {
      background-color: color(green);
      path {
        fill: #fff;
      }
    }
  }

  .editing-news__counter-container {
    background-color: color(green);
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 10px 20px;
    border-radius: 8px 0 0 0;
  }

  .counter__icon {
    margin-right: 8px;

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #fff;
      }
    }
  }

  .counter__numbers {
    font-size: 18px;
    font-weight: 400;
    color: color(white);
  }

  .editing-news__img-pc {
    display: block;

    @include tabletScreen {
     display: none;
    }
  }

  .editing-news__img-mob {
    display: none;

    @include tabletScreen {
      display: block;
    }  

    @media (max-width: 1200px) {
      height: 100%;
      object-fit: cover;
    }
  }

  &__info-box {
    width: 60%;

    @include tabletScreen {
      width: 50%;
    }

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  &__info-title {
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    span {
      background-color: color(white);
      border-radius: 50%;
      border: 1px solid green;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      margin-left: 12px;
      cursor: pointer; 
      transition: all 0.3s;
    }

    svg {
      width: 18px;
      height: 18px;
      transition: all 0.3s;
    }

    &:hover {
      span {
        background-color: color(green);
      }

      path {
        fill: #fff;
      }
    }

    @media (max-width: 450px) {
      font-size: 35px;
      margin-bottom: 12px;
    }
  }

  &__info-text,
  &__info-subtext {
    font-size: 15px;
    line-height: 150%;

    span {
      border: 1px solid green;
      bottom: 10px;
      left: 5px; 
      background-color: color(white);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      margin-left: 12px;
      cursor: pointer; 
      transition: all 0.3s;
    }

    svg {
      width: 18px;
      height: 18px;
      transition: all 0.3s;
    }

    a {
      &:hover {
        span {
          background-color: color(green);
        }
  
        path {
          fill: #fff;
        }
      }
    }
  }

  &__info-subtext {

    @include ipadScreen {
      margin-bottom: 10px;
    }
  }

  &__images-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 20px 0 8px 0; 
    margin: 50px 0 0 0;

    @include ipadScreen {
      margin-top: 30px;
    }
  }

  .editing__icons {
    position: absolute;
    bottom: 10px;
    left: 5px;  
    display: flex;
    align-items: baseline;
  }

  &__images-item {
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px #008628;
    }

    &:last-child {
      padding: 25% 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f3f3f3;
      border-top-right-radius: 10px;

      @include ipadScreen {
        padding: 15% 0;
      }
    }

    img {
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 10px;
      left: 10px;  
    }
  }

   /* Настройки маркированного списка */
   .editing-news__hover-effect-scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
    
    @media (max-width:950px) {
      height: 100%;
    }
  }

  .editing-news__hover-effect-scale li {
    position: relative;
    margin: 0;
    overflow: hidden;

    @media (max-width:950px) {
      height: 100%;
    }
  }

  .editing-news__hover-effect-scale li img {
    transition: all 0.2s linear;

    @media (max-width: 950px) {
      object-fit: cover;
    }

    @media (max-width: 450px) {
      object-fit: contain;
    }
  }

  .editing-news__hover-effect-scale li:hover img {
    transform: scale(1.1);
  }

  &__button {
    margin: 50px auto 0;
    cursor: pointer;
  }

  .last__way {
    position: relative;
    background-color: #009247;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 120px;
    width: 120px;

    input {
      display: none !important;
      opacity: 0;
    }

    label {
      background-image: url('../assets/images/add_file.svg');
      @include backgroundImage(cover);
      border-radius: 10px; 
      display: block;
      width: 70%;
      height: 70%;
      cursor: pointer;
      z-index: 2;
    }
  }

  .second-input {
    padding: 15px 0 100px 10px; 
  }
}