.factories {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 100px auto 80px;
  }

  &__title {
    text-align: center;
    margin-bottom: 12px;
  }

  &__contacts-subtitle {
    margin-bottom: 60px;
    color: #515151;
    text-align: center;
  }

  &__nav {
    margin: 0 auto 100px;
    max-width: 600px;

    @media (max-width: 650px) {
      margin-bottom: 60px;
    }
  }

  &__nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav__menu-item {

    @media (max-width: 650px) {
      width: 80%;
      margin: 0 auto 10px;
    }
  }

  &__nav__menu-item-link {
    color: #313131;
    font-size: 18px;
    padding: 0 0 15px 0;
    position: relative;

    &.active {
      color: color(green);
      @media (max-width: 650px) {
        color: color(white);
        background-color: color(green) !important;
      } 
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16%;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: transparent;

      @media (max-width: 650px) {
        display: none;
      }
    }

    &.active::after {
      background-color: color(green);
    }

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: rgba(79, 102, 79, 0.795) !important;
      color: color(white);
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
    }
  }

  &__nav__menu-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.247);
    margin-top: 15px;
    border-radius: 5px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__contacts__added {
    background-color: #f3f3f3;
    border-radius: 10px;
    width: 290px;
    padding: 20px 10px;
    button {
      margin-top: 20px;
      height: 36px;
      width: 110px;
    }
  }

  &__contacts-inputs {
    input {
      height: 32px;
      margin-bottom: 12px;
      background-color: color(white);
    }
  }

  &__contacts-title {
    font-size: 35px;
    text-align: left;
    font-weight: 500;
    color: color(dark);
    margin-bottom: 40px;

    @media (max-width: 1350px) {
      text-align: center;
    }

    @media (max-width: 490px) {
      font-size: 30px;
    }
  }

  &__contacts-factories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
  }

  &__contacts__factories-item {
    background-color: color(white);
    box-shadow: 0 0 5px rgb(184, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    position: relative;
    @media (min-width: 1024px) {
      &:hover {
        box-shadow: 0 0 8px #33953A;
        border-color: #33953A;
      }
    }

    &:last-child {
      background-color: #f3f3f3; 
    }

    .pen__icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  .popup__editing-input {
    input {
      &:last-child {
        height: 42px;
        padding: 10px;
      }
    }
  }

  &__contacts__factories-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.025em;
    color: #33953A;
  }

  &__contacts__factories__box {
    margin: 20px 0;
  }

  &__contacts__factories-servces {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
    &:last-child {
      margin-top: 10px; 
    }
    
    span {
      color: color(dark);
      font-size: 14px;
    }

    &:nth-child(2) {
      margin: 12px 0;
    }
  }

  &__contacts__factories-servces:last-child {

    span {
      max-width: 140px;
      line-height: 145%;
    }

    b {
      color: #313131;
    }
  }

  &__contacts__button-box {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  &__contacts-button {
    padding-right: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #33953A;
  }

  &__contacts__button-box .fa-arrow-right-long {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #33953A;
    border: 2px solid #33953A;
  }

  &__contacts-pagination {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
  }

  &__contacts__pagination-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts__pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(227, 227, 227, 0.568);
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: color(dark);
    font-weight: 600;

    &.active {
      background-color: #33953A;
      color: color(white);
    }
  }

  &__contacts-prev {
    width: 130px;
    height: 40px;
    margin-right: 30px;
    transition: all 0.3s;

    &:hover {
      background-color: #33953A;;
    }
  }

  &__our__factories-container {
    margin: 80px 0 0 0;
  }

  &__our__factories-title {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    color: #212121;
    margin-bottom: 50px;

    @media (max-width: 1350px) {
      text-align: center;
    }

    @media (max-width: 490px) {
      font-size: 30px;
    }
  }

  &__our__factories-factories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
  }

  &__our__factories__factories-item {
    background-color: color(white);
    box-shadow: 0 0 5px rgb(184, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s; 
    position: relative;

    @media (min-width: 1024px) {
      &:hover {
        box-shadow: 0 0 8px #33953A;
        border-color: #33953A;
      }
    }

    &:last-child {
      background-color: #f3f3f3; 
    }

    .pen__icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  &__our__factories__factories-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.025em;
    color: #33953A;
  }

  &__our__factories__factories__box {
    margin: 20px 0;
  }

  &__our__factories__factories-servces {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
    &:last-child {
      margin-top: 10px; 
    }
    
    span { 
      color: color(dark);
      font-size: 14px;
    }

    &:nth-child(2) {
      margin: 12px 0;
    }
  }

  &__our__factories__factories-servces:last-child {

    span {
      max-width: 140px;
      line-height: 145%;
    }

    b {
      color: #313131;
    }
  }

  &__our__factories__button-box {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  &__our__factories__button-box:hover &__our__factories-button {
    color: color(green);
  }

  &__our__factories__button-box:hover .fa-arrow-right-long {
    color: color(green);
    border-color: color(green);
  }

  &__our__factories-button {
    padding-right: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #33953A;
  }

  &__our__factories__button-box .fa-arrow-right-long {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #33953A;
    border: 2px solid #33953A;
    transition: all 0.3s;
  }
}
