.history {
  margin-bottom: 150px;

  .hide {
    display: none;
  }

  &__banner-container {
    position: relative;
  }

  &__swiper {
    margin: 80px 0 25px 0;
  }

  &__slide-item {
    background: #EBEBEB;
    padding: 10px 40px;
    font-size: 16px;
    color: color(black);
    text-align: center;
    border-radius: 3px;
    transition: all 0.3s;
    position: relative;

    &.active {
      background-color: #c8c8c8;
    } 
  }

  .history__button {
    margin-bottom: 8%;
    display: flex;
    align-items: center;
    width: 180px; 

    svg {
      margin-left: 12px;
    }
  }

  // Модальное окно для ссылок
  .popup__add_list {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(19, 28, 8, 0.8);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.1s;
  
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .popup__add_list.open .popup__add_list-body {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup__add_list-body {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    width: 500px !important;
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    background: #fff;
    overflow: hidden;
  
    @include phoneScreen {
      width: 90%;
    }
  }
  
  .add_list__close-popup {
    position: absolute;
    right: 15px;
    top: 15px;
    color: gray !important;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
  }

  .popup__add_list-content {
    padding: 15% 5%; 
    width: 100%;
    
    button {
      margin: auto;
    }
  }

  .popup__add_list-input {
    
    h2 {
      font-size: 30px;
      font-weight: 500;
      color: #212121;
      margin-bottom: 4%; 
    }

    input {
      height: 42px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 5%;
      }
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;

    .editing__icons {
      position: static;  
    }

    .pen__icon,
    .removed {
      height: 28px;
      width: 28px;
      padding: 8px;  
      margin: 2px;
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next::after {
    color: rgb(0, 0, 0);
    font-size: 0px;
    position: absolute;
  }

  .swiper-button-prev {
    @include backgroundImage(cover);
    background-image: url('../assets/images/slick-arrow.svg'); 
    left: 5px;
    right: auto;
    top: 59%;
    width: 34.6px;
    height: 34.9px;
  }

  .swiper-button-next {
    @include backgroundImage(cover);
    background-image: url('../assets/images/slick-arrow-next.svg'); 
    right: 5px;
    left: auto;
    top: 59%;
    width: 34.6px;
    height: 34.9px;
  }

  &__start__top-description {
    margin-bottom: 60px;
  }

  &__start__top-title {
    font-weight: 400;
    font-size: 25px;
    color: color(black);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__start__top-text {
    color: #636363;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  &__start__top-subtitle {
    font-weight: 400;
    font-size: 30px;
    color: #636363;
    margin-bottom: 80px;
  }

  &__start__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #7d7d7d;
    margin-bottom: 50px;
    position: relative;

    @include phoneScreen {
      flex-direction: column;
      margin-bottom: 30px;
    }

    .archive {
      bottom: auto;
      top: 10px;
      left: auto;
      right: 10px;
    }
  }

  &__start__info-description {
    width: 48%;

    @include phoneScreen {
      width: 100%;
    }
  }

  &__start__info-title {
    font-weight: 400;
    font-size: 25px;
    color: color(black);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__start__info-text {
    color: #636363;
    font-size: 16px;
    line-height: 150%;

    @include phoneScreen {
      margin-bottom: 30px;
    }

    .pen__icon {
      margin: auto 0 auto auto;
    }
  }
  
  &__start__info-image {
    width: 49%;
    position: relative;

    @include phoneScreen {
      width: 100%;
    }

    span {
      z-index: 1;
    }

    label {
      input {
        display: none;
        opacity: 0;
      }
    }
  }

  .styles-img-1,
  .styles-img-2 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  // Стили для среднего таба
  &__middle__top-description {
    margin-bottom: 60px;
  }

  &__middle__top-title {
    font-weight: 400;
    font-size: 25px;
    color: color(black);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__middle__top-text {
    color: #636363;
    font-size: 16px;
    
    .pen__icon {
      margin: auto 0 auto auto;
    }
  }

  &__middle__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #7d7d7d;
    margin-bottom: 50px;
    position: relative;

    @include phoneScreen {
      flex-direction: column;
      margin-bottom: 30px;
    }

    .archive {
      bottom: auto;
      top: 15px;
      left: auto;
      right: 15px;
    }
  }

  &__middle__info-description {
    width: 48%;

    @include phoneScreen {
      width: 100%;
    }
  }

  &__middle__info-title {
    font-weight: 400;
    font-size: 25px;
    color: color(black);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__middle__info-text {
    color: #636363;
    font-size: 16px;
    line-height: 150%;

    .pen__icon {
      margin: auto 0 auto auto;
    }

    @include phoneScreen {
      margin-bottom: 30px;
    }
  }

  &__middle__info-image {
    width: 49%;
    position: relative;

    @include phoneScreen {
      width: 100%;
    }

    span {
      z-index: 1;
    }

    label {
      input {
        display: none;
        opacity: 0;
      }
    }
  }

  .styles-img-3,
  .styles-img-4 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .history__tabs-added {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
  }

  .inputs {
    width: 50%; 

    input {
      margin-bottom: 2%;
    }

    textarea {
      padding: 20px 20px 20px 10px;
      height: 150px;
      border-color: #e0e0e0;
      width: 100%;
      border-radius: 8px;
      margin-bottom: 3%;
    }
  }

  .added__image {
    width: 600px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 10px;
  }

  .last__way {
    position: relative;
    background-color: #009247;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;

    @include phoneScreen {
      height: 40vw;
      width: 40vw;
    }

    input {
      display: none !important;
      opacity: 0;
    }

    label {
      background-image: url('../assets/images/add_file.svg');
      @include backgroundImage(cover);
      border-radius: 10px; 
      display: block;
      width: 70%;
      height: 70%;
      cursor: pointer;
      z-index: 2;
    }
  }

  .save__history {
    margin: 0 auto;
    width: 230px;
    height: 50px; 
    font-size: 18px;
  }
}

