.documentation {
  margin: 150px auto 100px;

  @include phoneScreen {
    margin: 130px auto 80px;
  }
  
  &__search-box {
    display: flex;
    justify-content: end;
    margin: 0 0 30px 0;

    @media (max-width: 650px) {
      justify-content: center;
    }

    input {
      width: 300px;
      padding-left: 35px;
    } 
  }

  &__search {
    position: relative;

    svg {
      position: absolute;
      left: 8px;
      top: 8px;
      width: 20px;
    }

    path {
      fill: #808080;
    }
  }

  &__items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-direction: column; 
    }
  }
  
  &__items {
    width: 49%;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  
  &__item {
    display: flex;
    align-items: center; 
    margin-bottom: 40px;
    position: relative;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
    }

    .archive {
      bottom: auto;
      top: 15px;
    }
  }
  
  &__img-box {
    overflow: hidden;
    border-radius: 8px;
    width: 200px;
    height: 155px;
    position: relative; 

    img {
      width: 100%;
      border-radius: 8px;
    }

    label {
      input {
        display: none;
        opacity: 0; 
      }
    }

    @media (max-width: 650px) {
      margin-bottom: 20px;
      width: 320px;
      height: auto;
    }
  }
  
  &__info {
    max-width: 65%;
    margin-left: 20px;

    @media (max-width: 1200px) {
      max-width: 70%; 
    }

    @media (max-width: 650px) {
      max-width: 100%;
      margin: 0;
    }

    h1 {
      margin-bottom: 6px;
      font-weight: 400;
      font-size: 30px;
      color: color(dark);
      display: flex;
      align-items: center;
      transition: all 0.2s;

      @media (max-width: 650px) {
        text-align: center;
        font-size: 26px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.025em;
      color: color(dark);
      transition: all 0.2s;

      @media (max-width: 650px) {
        text-align: center; 
      }

      a {
        margin: auto 0 auto auto;
      }
    }

    &:hover {
      h1, p {
        color: green;
      }
    }
  }

  // Модальное окно для редакирования карточки
  .popup__documentation-editing {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(19, 28, 8, 0.8);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.1s;
  
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .popup__documentation-editing.open .popup__documentation-editing-body {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup__documentation-editing-body {
    position: absolute;  
    top: 50%;
    left: 50%;
    right: 0;
    width: 500px !important;
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    background: #fff;
    overflow: hidden;
  
    @include phoneScreen {
      width: 90%;
    }
  }
  
  .BIM-editing__close-popup {
    position: absolute;
    right: 15px;
    top: 15px;
    color: gray !important;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
  }

  .popup__documentation-editing-content {
    width: 100%; 
    padding: 15% 5%; 
  }

  .popup__documentation-editing-input {

    input {
      height: 42px;
      margin-bottom: 12px;

      &:last-child {
        padding: 10px 0 100px 10px;
      }
    }
  }

   // Модальное окно для ссылок
   .popup__archive {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(19, 28, 8, 0.8);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.1s;
  
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .popup__archive.open .popup__archive-body {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup__archive-body {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    width: 1000px !important;
    border-radius: 10px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
    background: #fff;
    overflow: hidden;
  
    @include phoneScreen {
      width: 90%;
    }
  }

  .archive__close-popup {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 35px;
    font-size: 30px;
    cursor: pointer;
  } 
  
  .popup__archive-content {
    padding: 10% 5%;
    width: 100%;
  
    h1 {
      font-size: 35px;
      font-weight: 500;
      color: color(dark);
      margin-bottom: 3%; 
      text-transform: uppercase;
    }
  }

  .popup__archive-input {
    display: flex;
    align-items: center;

    input {
      height: 42px;
    }

    button {
      margin-left: 2%;
    }
  }

}







 